 <!-- About Details Section -->
 <section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>GigaElk Software is a friendly indie studio based in Tokyo.</p>
            </div>
            <div class="col-lg-4">
                <p>We create what we love. Apps, Software, Games, AR, VR and other nonsense.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
            </div>
        </div>
    </div>
</section>
