 <!-- About Details Section -->
 <section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
            <div class="intro-text">
                <span class="skills">We are an indie studio and sell all products via third parties such as itch.io, Google Play and BuyMeACoffee.com.<br></span>
                <span class="skills">At this time we do not sell anything directly.</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Item type</p>
            </div>
            <div class="col-lg-4">
                <p>Digital Goods - Games, Experiences & Software</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Legal name</p>
            </div>
            <div class="col-lg-4">
                <p>GigaElk Software</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Address</p>
            </div>
            <div class="col-lg-4">
                <p>Horikiri 4-8-14, Katsushika-ku, Tokyo-to 〒124-0006</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Phone number</p>
            </div>
            <div class="col-lg-4">
                <p>090-4367-1905</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Email address</p>
            </div>
            <div class="col-lg-4">
                <p>support@gigaelk.com</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Director</p>
            </div>
            <div class="col-lg-4">
                <p>Andrew Hewitt</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Additional fees</p>
            </div>
            <div class="col-lg-4">
                <p>None</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Delivery times</p>
            </div>
            <div class="col-lg-4">
                <p>Digital goods delivered imediately after payment.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Accepted payment methods</p>
            </div>
            <div class="col-lg-4">
                <p>Credit Card, PayPal</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Payment period</p>
            </div>
            <div class="col-lg-4">
                <p>Credit card payments are processed immediately. PayPal may take up to 7 days.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Value</p>
            </div>
            <div class="col-lg-4">
                <p>Average cost is ¥1,000</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
            </div>
        </div>
    </div>
</section>
