 <!-- About Details Section -->
 <section class="success" id="nfts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>NFT</h2>
                <hr class="star-primary">
            </div>
        </div>
        <span class="intro-text">Check out our first NFT collection! Shoebill Bill - A playful look at the mejestic, and bonkers, bird!</span>
        <div class="portfolio-flex-row">
            {% for post in site.posts %}
                <div class="portfolio-flex-item portfolio-item">
                    <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}" title="{{ post.imgtitle }}">
                    </a>
                </div>
            {% endfor %}
        </div>
        <!-- <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Check out our first NFT collection! Shoebill Bill - A playful look at the mejestic, and bonkers, bird!</p>
            </div>
            <div class="col-lg-4">
                <p>We create what we love. Apps, Software, Games, AR, VR and other nonsense.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
            </div>
        </div> -->
    </div>
</section>
